/* Colour Variables */
:root {
  --clr-strict: red;
  --clr-black: black;
  --clr-white: white;
  --clr-toggle: rgb(229, 170, 229);
  --clr-dull: rgb(229, 170, 229);
  --clr-accent: goldenrod;
  --clr-darkgreen: darkgreen;
  --clr-lightgreen: rgb(87, 132, 87);
  --clr: rgb(198, 194, 160);

  --ff-primary: 'Alice', serif;
  --ff-secondary: 'Sacramento', cursive;
  --ff-main: 'Unna', serif;
  
  --fw-reg: none;
  --fw-bold: bold;
  
  font-size: 12px;
  --fs-h1: 2.6rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 0.85rem;
  --fs-body: 0.85rem;
  --fs-small: 0.45rem;
  --fs-link: 1.6rem;
  --fs-btn: 0.70rem;  
  
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
        
}


body {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  font-size: var(--fs-body);
  letter-spacing: 0.015em;
}

* {
  font-family: var(--ff-main);
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}




/* General Styles */
a {
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--fs-link);
}
a:hover,
a:focus {
  color: var(--clr-accent);
  cursor: pointer;
}

button {
  font-size: var(--fs-btn);
}

.staff-title {
  margin: 0.25em 0 0 0;
}

.hotel-title {
  letter-spacing: 0.02em;
}

/* Reservation Modal Styles */

.reserve-button {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  min-width: 100%;
  border: none;
  font-size: var(--fs-h2);
  cursor: pointer;
  text-transform: uppercase;
  height: 2.5em;
  text-decoration: none;
  z-index: 1;
}
.check {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.devi {
  font-size: var(--fs-h1);
  margin: 0.5em;
}

.continue-on-button,
.confirm-booking-button,
.pay-button {
  padding: 1.2em 2.8em;
  border: none;
  font-size: var(--fs-h4);
  background-color: var(--clr-accent);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 1em;
}

.modal {
  border-radius: .3em;
  width: 75%;
  max-width: 700px;
  padding: 2em;
  min-height: 200px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body);
  z-index: 100;
}

.form {
  display: grid;
  text-align: center;
  margin: 0.4em;
  grid-template-areas: 
    "label label label "
    "input input input"
    "cancelbutton . submitbutton";
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: auto;
}

.form input,
.form textarea {
  grid-area: input;
  font-size: var(--fs-h3);
  padding: 0.2em;
}


.form label {
  grid-area: label;
  text-align: left;
  font-size: var(--fs-h3);
  padding-bottom: 0.01em;
}

.cancel-res-btn,
.submit-res-btn {
  border-radius: 0.4em;
  text-transform: uppercase;
  padding: 0.3em 0.9em;
  margin: 0.8em 1em;
  border: none;
  font-size: var(--fs-h3);
}

.cancel-res-btn {
  grid-area: cancelbutton;
}
.submit-res-btn {
  grid-area: submitbutton;
}



.fullpage {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay {
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.open {
  display: block;
}

/* Navigation Styles */
nav {
  margin-top: 7rem;
}

.logo {
  height: auto;
  pointer-events: all;
  padding: .5em 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.full-moon {
  min-width: 20%;
  max-width: 3rem;
  padding: 0 1em 0 0;
}



.nav-section {
  display: block;
  margin: 0 0 2em 0;
  align-items: center;

}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-body);
  padding: 0 4em;
}

ul li {
  margin: 0 2em;
}


.theme-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1em;
}



/* Toggle Styles */

.ghostToggle {
  background: var(--clr-accent);
  border-radius: 1em;
  display: block;
  width: 6.25rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2.125rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--clr-toggle);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;

}

input:checked + .slider {
  background-color: var(--clr-white);
}

input:focus + .slider {
  box-shadow: 0 0 0.063rem var(--clr-white);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ghost,
.human {
  position: absolute;
  width: 30%;
  padding: 0 7.5px;
  transition: transform 2ms ease-in-out;

}

.ghost {
  right: 0;
}
.human {
  left: 0;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Carousel Styles */

  .carousel {
    position: relative;
    z-index: 0;
  }

  .carousel .carousel-item {
    display: block;
 
  }

  .carousel .visible {
    display: block;
    transition: all 0.50s linear;

  }

  .carousel .carousel-item img {
    width: 100%;
    
  }

  .carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel .carousel-actions button {
    border-radius: 50px;
    background-color: var(--clr-accent);
    color: var(--clr-black);
    border: 0;
    font-size: var(--fs-body);
    font-weight: bold;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .carousel .carousel-actions button#carousel-button-prev {
    margin-left: 5px;
  }

  .carousel .carousel-actions button#carousel-button-next {
    margin-right: 5px;   
  }

/* Main Section */
.room-display {
  padding: 0.25em;
}

.app {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.wrapper {
  margin: 0 4em;
}

.room {
  display: grid;
  max-width: 700px;
  justify-content: space-evenly;
  align-items: center;
  grid-template-areas: 
    "name showbtn price selector"
    "info info info info";
  grid-template-columns: 30% 15% 30% 10% ;
  margin: 1em 1em 0 1em;
  background: var(--clr-lightgreen);
    color: var(--clr-white);
  border-radius: 0.25em;
  padding: 1em 0;
}

/* .area {
  display: flex;
  align-items: flex-start;
} */


.hide-room-info {
  display: none;
}
.show-room-info {
  grid-area: info;
  display: block;
  text-align: left;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-size: var(--fs-body-min);
  padding: 2em;
  margin: 1em 0 0 0;
}

.room-name {
  grid-area: name;
  text-align: left;
  margin-left: 1em;
  padding: 1em 0;
  font-family: var(--ff-secondary);
}

.info-btn {
  grid-area: showbtn;
  font-size: var(--fs-body-small);
  background-color: var(--clr-darkgreen);
  color: var(--clr-white);
  padding: 0.85em 0.65em;
}

.info-btn:hover,
.info-btn:focus {
  background: var(--clr-accent);  
  border-color: var(--clr-accent);
  cursor: pointer;
}
.room-price {
  grid-area: price;
  font-size: var(--fs-h4);
}
.select-room {
  grid-area: selector;
  margin-right: 1em;
  border: none;
  background: none;
  padding: 0 1em;
  cursor: pointer;
  
}
.addIcon,
.removeIcon {
  max-width: 2em;
}

.alert {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--clr-strict);
  font-weight: bold;
}

.main-img {
  background-size: cover;
}


footer {
  padding: 2rem 0 0 0;
}
.footer {
  font-size: var(--fs-body-small);
  padding: 2rem 0 0 0;
}

.footer a {
  font-size: var(--fs-body-small);
}

.location {
  max-width: 100%;
  margin: 0 auto;

}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staffMember {
  max-width: 800px;
  margin: 5rem;
  display: flex;
  flex-direction: column;
}

.staffimg {
  max-width: 100%;
  margin: 0 1em 0 0;
}

@media (min-width: 1000px) {
  :root {
    font-size: 18px;
  }

  .room {
    display: grid;
    max-width: 700px;
    grid-template-areas: 
      "name showbtn . price selector"
      "info info info info info";
    grid-template-columns: 25% 25% 10% 20% 10% ;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .select-room {
    text-align: right;
  }

  .wrapper {
    max-width: 550px;
    margin: 10px auto;
  }
  
  .footer {
    font-size: var(--fs-body-small);
  }

  ul {
    flex-direction: row;
  }

   .other {
    max-width: 800px;
    display: grid;
    place-items: center;
    grid-template-areas: 
      "img staffinfo";
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding: 0.25em 0;
    border-top: 2px solid goldenrod;  
  }

  .other:nth-last-child(1) {
    border-bottom: 2px solid goldenrod; 
  }

  
  .staff .img {
    grid-area: img;
    align-items: center;
  }
  
  .staffinfo {
    grid-area: staffinfo;
  }

  .staffMember {
    max-width: 800px;

  }
  
  nav {
    margin-top: 0rem;
    margin: 1.5em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
  }

  .theme-section {
    padding: 0;
    width: 50%;
    justify-content:flex-start;

  }

  .hotel-title {
    white-space: nowrap;
    margin: 0 2em 0 0 ;
  }

  .nav-section {
    display: flex;
    margin: 0;
  }

  .reserve-button {
    position: relative;
    min-width: 1em;
    max-width: 5em;
    padding: 1rem;

    border: none;
    font-size: var(--fs-h2);
    cursor: pointer;
    text-transform: uppercase;

    text-decoration: none;
    z-index: 1;
  }
  
}
